.slds-scope .slds-backdrop {
    background-color: #fff;
    opacity: .5;
}

.slds-scope .slds-spinner_brand::before, .slds-scope .slds-spinner_brand::after, .slds-scope .slds-spinner_brand *::before, .slds-scope .slds-spinner_brand *::after {
    background-color: #9E28B5 !important;
}

.slds-scope .slds-button_brand, .slds-scope .slds-icon-standard-contact {
    background-color: #8348ad;
    border-color: #8348ad;
    font-size: 1.02rem;
    line-height: 1.5rem;
}

.slds-scope .slds-button_brand:hover, .slds-scope .slds-icon-standard-contact:hover {
    background-color: #a97cca;
}

.slds-scope .slds-button_brand:focus, .slds-scope .slds-icon-standard-contact:hover {
    background-color: #510C76;
    color: #fff;
}

.slds-scope .slds-summary-detail.slds-is-open .slds-summary-detail__content {
    padding-top: 0px;
}

.slds-scope .slds-summary-detail button {
    padding: 1px 10px 2px 0;
}

.slds-scope .slds-summary-detail {
    padding: 1px 0px 5px 0;
}

.slds-scope .slds-summary-detail .summary-detail-toggle {
    text-decoration: none;
}

.slds-scope .slds-summary-detail .summary-detail-toggle svg {
    transform: rotate(-90deg);
    margin-top: -2px;
}

.slds-scope .slds-summary-detail.slds-is-open .summary-detail-toggle svg {
    transform: rotate(0deg);
    transform-origin: 45%;
}

.slds-scope .slds-icon-standard-brand {
    background-color: #510C76;
}

.slds-scope table, .slds-scope iframe, .slds-scope img {
    max-width: 100% !important;
}

.slds-scope ul.slds-listbox, .slds-scope ul.slds-card-tile {
    margin: 0;
    list-style: none;
}

.slds-scope .slds-combobox_container {
    margin-bottom: 2rem; /* Needs extra space because the autocomplete box unavoidably obscures the next line if selected. (Especially hard to avoid on a screenreader.) */
}

.slds-scope .slds-combobox .slds-combobox__form-element .refRemoveButton {
    padding: 0;
    width: 1.4rem;
    height: 1.4rem;
    margin-top: -0.8rem;
}

.slds-scope:not(html), .slds-scope body,
.slds-scope .slds-text-body_regular, .slds-scope label, .slds-scope p,
.slds-scope button, .slds-scope input, .slds-scope optgroup, .slds-scope select,
.slds-scope textarea, .slds-scope ul, .slds-scope ol,
.slds-scope .slds-checkbox .slds-checkbox__label .slds-form-element__label {
    font-size: 1.02rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #0a0a0a;
}

.slds-scope .slds-text-body_small {
    font-size: .85rem;
}

.slds-scope .slds-radio_faux {
    line-height: 2rem;
}

.slds-scope .slds-button {
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-weight: 400;
    padding: 0.3rem 0.7rem;
}

.slds-scope .slds-button.slds-button-smaller {
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 400;
    padding: 0.2rem 0.7rem;
}

.slds-scope .slds-button.slds-radio_button {
    padding: 0;
}

.slds-scope .slds-progress__item .slds-button {
    width: 2rem;
    height: 2rem;
    padding: 0.1rem 0.1rem;
}

.slds-scope .slds-progress__item .slds-button__icon {
    width: 1.4rem;
    height: 1.4rem;
    margin-top: 0;
}

.slds-scope .slds-progress .slds-progress-bar {
    margin-top: -0.2rem;
}

.slds-scope .slds-tabled-checklist td {
    padding: .4rem .3rem;
}

.slds-scope .slds-tabled-checklist label {
    display: block;
}

.slds-scope .slds-tabled-checklist {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.slds-scope .slds-tabled-checklist tr:nth-child(odd) {
    background: #f7f7f7;
}

.slds-scope ul {
    margin: 0.4rem 0 0.7rem 1.7rem;
    list-style: disc;
}

.slds-scope .slds-summary-detail__content ul {
    margin: 0 0 .5rem 1.7rem;
}

.slds-scope ol {
    margin: 0.4rem 0 0.7rem 1.7rem;
    list-style: number;
}

.slds-scope slds-text-heading_small {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(3, 45, 96);
}

.slds-scope .slds-card__header-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.slds-scope .slds-text-heading_large {
    font-weight: 600;
}

.slds-checkbox .slds-tabled-checklist td [type=checkbox] {
    margin: 5px 7px 2px 2px !important;
}

.slds-scope .slds-text-body_regular {
    margin-top: .2em;
}

.slds-scope .slds-form-element__help {
    display: none;
}

.slds-scope label.slds-radio_button__label {
    margin-right: 0
}

.slds-scope .slds-has-error .slds-form-element__help {
    display: block;
}

.slds-scope .slds-has-error .slds-radio_button-group {
    border: solid 2px red;
}

.slds-scope label.slds-text-body_regular {
    margin-top: .2em;
}

.slds-checkbox .slds-tabled-checklist td [type=checkbox] {
    width: 15px;
    height: 15px;
    position: relative;
    margin: 2px 7px 2px 2px;
    float: left;
}

.slds-scope .slds-button__icon {
    width: 1rem;
    height: 1rem;
    margin-top: 0.2rem;
}

.slds-scope .slds-button.small-header-button {
    float: right;
    font-size: 0.75rem;
    padding: 0.13rem .5rem 0.15rem .5rem;
    margin-top: -10px;
    line-height: initial;
    top: 1.5rem;
    position: relative;
}

div.slds-progress {
    padding-top: 30px;
    padding-bottom: 30px;
}

.slds-col img {
    max-width: 99%;
}

.slds-scope .messageTable {
    margin: 1rem 0 !important;
    border: solid 1px red;
}

.slds-scope .messageTable td {
    padding: .2rem;
}

.slds-scope .messageCell h4 {
    font-weight: bold;
    padding-right: .4rem;
}

.slds-scope .slds-backdrop {
    background-color: #e6daff;
    opacity: .5;
}

.slds-scope .slds-modal__close {
    padding: 0;
}

.slds-scope .slds-modal__close .slds-button__icon {
    width: 1.5rem;
    height: 1.5rem;
}

.slds-dropdown {
    min-height: 35px;
}

.slds-scope li.clear-search-field {
    margin: .6rem .5rem;
}

/* Carousel styles */
.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    margin: auto;
}

.carousel-wrapper * {
    box-sizing: border-box;
}

.carousel {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel__item {
    opacity: 0;
    position: absolute;
    overflow: visible;
    top: 0;
    width: 100%;
    margin: auto;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
    display: none;
}

.carousel__item.initial,
.carousel__item.active {
    opacity: 1;
    position: relative;
    z-index: 900;
    display: block;
}

.carousel__item.prev,
.carousel__item.next {
    z-index: 800;
}

.carousel__item.prev {
    transform: translateX(-100%);
}

.carousel__item.carousel__disable {
    display: block;
    opacity: 100;
    position: initial;
    transform: initial;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.encryptShowHideIcon {
    width: 85px;
    cursor: pointer;
    margin-left: 5px;
}

.encryptHideIcon {
    color: red;
    font-style: italic;
}

span.dateFormat{
    display: none;
}