.slds-scope .slds-backdrop {
    background-color: #fff;
    opacity: .5;
}

.slds-scope .slds-spinner_brand::before, .slds-scope .slds-spinner_brand::after, .slds-scope .slds-spinner_brand *::before, .slds-scope .slds-spinner_brand *::after {
    background-color: #9E28B5 !important;
}

.slds-scope .slds-button_brand {
    background-color: #9E28B5;
    border-color: #9E28B5;
}

.slds-scope .slds-summary-detail.slds-is-open .slds-summary-detail__content {
    padding-top: 0px;
}

.slds-scope .slds-summary-detail button {
    padding: 1px 10px 2px 0;
}

.slds-scope .slds-summary-detail {
    padding: 1px 0px 5px 0;
}

.slds-scope .slds-icon-standard-brand {
    background-color: #510C76;
}

.slds-scope table, .slds-scope iframe, .slds-scope img {
    max-width: 100% !important;
}

.slds-scope ul.slds-listbox {
    margin: 0;
    list-style: none;
}

.slds-scope .slds-combobox .slds-combobox__form-element .refRemoveButton {
    padding: 0;
    width: 1.4rem;
    height: 1.4rem;
    margin-top: -0.8rem;
}
.slds-scope:not(html), .slds-scope body,
.slds-scope .slds-text-body_regular, .slds-scope label, .slds-scope p,
.slds-scope button, .slds-scope input, .slds-scope optgroup, .slds-scope select,
.slds-scope textarea, .slds-scope ul, .slds-scope ol,
.slds-scope .slds-checkbox .slds-checkbox__label .slds-form-element__label {
    font-size: 1.02rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #0a0a0a;
}

.slds-scope .slds-radio_faux {
    line-height: 2rem;
}

.slds-scope .slds-button {
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-weight: 400;
    padding: 0.3rem 0.7rem;
}

.slds-scope .slds-button.slds-radio_button {
    padding: 0;
}

.slds-scope .slds-progress__item .slds-button {
    width: 2rem;
    height: 2rem;
    padding: 0.1rem 0.1rem;
}

.slds-scope .slds-progress__item .slds-button__icon {
    width: 1.4rem;
    height: 1.4rem;
    margin-top: 0;
}

.slds-scope .slds-progress .slds-progress-bar {
    margin-top: -0.2rem;
}

.slds-scope .slds-tabled-checklist td {
    padding: .4rem .3rem;
}

.slds-scope .slds-tabled-checklist label {
    display: block;
}

.slds-scope .slds-tabled-checklist {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.slds-scope .slds-tabled-checklist tr:nth-child(odd) {
    background: #f7f7f7;
}

.slds-scope ul {
    margin: 0.4rem 0 0.7rem 1.7rem;
    list-style: disc;
}

.slds-scope .slds-summary-detail__content ul {
    margin: 0 0 .5rem 1.7rem;
}

.slds-scope ol {
    margin: 0.4rem 0 0.7rem 1.7rem;
    list-style: number;
}

.slds-scope slds-text-heading_small {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(3, 45, 96);
}

.slds-scope .slds-card__header-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.slds-scope .slds-text-heading_large {
    font-weight: 600;
}

.slds-checkbox .slds-tabled-checklist td [type=checkbox] {
    margin: 5px 7px 2px 2px !important;
}

.slds-scope .slds-text-body_regular {
    margin-top: .2em;
}

.slds-scope .slds-form-element__help {
    display: none;
}

.slds-scope label.slds-radio_button__label {
    margin-right: 0
}

.slds-scope .slds-has-error .slds-form-element__help {
    display: block;
}

.slds-scope .slds-has-error .slds-radio_button-group {
    border: solid 2px red;
}

.slds-scope label.slds-text-body_regular {
    margin-top: .2em;
}

.slds-checkbox .slds-tabled-checklist td [type=checkbox] {
    width: 15px;
    height: 15px;
    position: relative;
    margin: 2px 7px 2px 2px;
    float: left;
}

.slds-scope .slds-button__icon {
    width: 1rem;
    height: 1rem;
    margin-top: 0.2rem;
}

div.slds-progress {
    padding-top: 30px;
    padding-bottom: 30px;
}

.slds-col img {
    max-width: 99%;
}

.slds-scope .messageTable {
    margin: 1rem !important;
}

/* Carousel styles */
.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    margin: auto;
}

.carousel-wrapper * {
    box-sizing: border-box;
}

.carousel {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel__item {
    opacity: 0;
    position: absolute;
    overflow: visible;
    top: 0;
    width: 100%;
    margin: auto;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel__item.initial,
.carousel__item.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.carousel__item.prev,
.carousel__item.next {
    z-index: 800;
}

.carousel__item.prev {
    transform: translateX(-100%);
}

