/**
 * Created by nguy0092 on 7/14/2025.
 */

a {
    font-size: 1rem !important;
}

.widget-height {
    max-height: 400px;
    overflow: auto;
    scrollbar-width: thin;
}

li {
    margin-bottom: 0 !important;
}

.list-no-style{
    margin-left: 0;
    list-style: none;
}