/**
 * Created by Thaddaeus Dahlberg, Software Engineer, University of St. Thomas on 10/16/2023.
 */

/*.header-column {*/
/*    padding: 0 2rem;*/
/*}*/

.field-title {
    font-size: .75rem;
    line-height: 1.25;
    color: #54698d;
    margin-bottom: .25rem;
}

.accordion-nested {
    --sds-c-accordion-heading-font-size: .90rem;
}

.sectionButtons {
    font-size: .75rem;
    height:20px;
}

/*.appInfoContainer {*/
/*    height: 600px;*/
/*    overflow: auto;*/
/*}*/